In [1]:
print('first note')

first note

In [2]:
print('How cool is this')

How cool is this

This is just a notes

In [3]:
2+3

5

In [4]:
3/2

1.5

In [5]:
3%2

1

In [6]:
2 ** 3

8

In [7]:
25 * 2 + 100 - 50

100

In [9]:
(25 * 2 + 100 - 50 + (25 * 3) - (50 + 25))

100

In [10]:
30+*6

SyntaxError: invalid syntax (<ipython-input-10-bf7ab45567fc>, line 1)

In [11]:
a = 5

In [12]:
a

5

In [37]:
a = "sadga"

In [14]:
a

'sadga'

In [17]:
type(a)

float

In [16]:
a = 3.1

In [18]:
a = 100
b = 0.5
c = a * b

In [19]:
c

50.0

In [2]:
stringexp = "this is a simple string"

In [3]:
len(stringexp)

23

In [5]:
stringexp[3]

's'

In [6]:
stringexp[-2]

'n'

getting substring

In [7]:
stringexp[2:]

'is is a simple string'

In [8]:
stringexp[:4]

'this'

In [11]:
stringexp[5:9]

'is a'

stepsize -> skips the number of letters we specify

In [12]:
stringexp[::2]

'ti sasml tig'

quick trick to reverse a string

In [13]:
stringexp[::-1]

'gnirts elpmis a si siht'

In [14]:
stringexp.upper()

'THIS IS A SIMPLE STRING'

In [15]:
stringexp.split()

['this', 'is', 'a', 'simple', 'string']

In [16]:
stringexp.split('i')

['th', 's ', 's a s', 'mple str', 'ng']

In [17]:
# changing the format of strings by injecting variables is called string interpolation. 2 methods of doing this -> .format &
#f-strings(preferred for string literals)
'This is a sample string {}'.format('Inserted')

'This is a sample string Inserted'

In [18]:
'Test this {0} {2} {1}'.format('with','indexing','string')

'Test this with string indexing'

In [19]:
'The {q} {b} {f}'.format(f='fox',q='quick',b='brown')

'The quick brown fox'

In [22]:
#float formatting follows {value:width.precisionf}
result = 0.24283234367
print('The result was {r:1.3f}'.format(r=result))

The result was 0.243

In [25]:
name = 'Ding'
print(f'The name is {name}')

The name is Ding

In [2]:
#lists work same as strings except that they can be mutable. Lists are in ordered form
#list can contain different types of objects.
list1 = ['one',2,3.0]
list2 = ['four',5]
concatenated_list = list1 + list2
print("concatenated list is {r}".format(r = concatenated_list))
print("length of list is {r}".format(r=len(concatenated_list)))
print("first element is {r}".format(r=concatenated_list[0]))
print("sublist after slicing is {r}".format(r=concatenated_list[2:]))
concatenated_list[3] = "this elememnt is changed"
print("list after changing an element is {r}".format(r=concatenated_list))

concatenated list is ['one', 2, 3.0, 'four', 5]
length of list is 5
first element is one
sublist after slicing is [3.0, 'four', 5]
list after changing an element is ['one', 2, 3.0, 'this elememnt is changed', 5]

In [5]:
# append and pop from list
concatenated_list.append('six')
print("list after appending ...{}".format(concatenated_list))
concatenated_list.pop()
print("list after poping at end...{}".format(concatenated_list))
concatenated_list.pop(3)
print("list after poping at given index...{}".format(concatenated_list))

list after appending ...['one', 2, 3.0, 'this elememnt is changed', 5, 'six', 'six']
list after poping at end...['one', 2, 3.0, 'this elememnt is changed', 5, 'six']
list after poping at given index...['one', 2, 3.0, 5, 'six']

In [6]:
#sort and reverse list
alphalist = ['x','e','z','t']
numlist = [5,2,8,1]
alphalist.sort()
print("alpha list after sorting....{}".format(alphalist))
numlist.reverse()
print("num list after reversing...{}".format(numlist))

alpha list after sorting....['e', 't', 'x', 'z']
num list after reversing...[1, 8, 2, 5]

In [9]:
#dictionaries are unordered key-value pairs and cannot be sorted
my_dict = {'apples' : 2.99, 'oranges' : 1.56, 'milk' : 1.23}
print("milk value : {}".format(my_dict['milk']))
print("keys : {}".format(my_dict.keys()))
print("values : {}".format(my_dict.values()))
print("items : {}".format(my_dict.items()))
complex_dict = {'item1':100,'item2':['captain','iron','hulk'],'item3':{'avenger1':'Thor','avenger2':'Wanda'}}
print("extracting hulk : {}".format(complex_dict['item2'][2]))
print("extracting thor : {}".format(complex_dict['item3']['avenger1']))
complex_dict['item3']['avenger3'] ='Romanoff'
print("new dictionary after adding : {}".format(complex_dict))

milk value : 1.23
keys : dict_keys(['apples', 'oranges', 'milk'])
values : dict_values([2.99, 1.56, 1.23])
items : dict_items([('apples', 2.99), ('oranges', 1.56), ('milk', 1.23)])
extracting hulk : hulk
extracting thor : Thor
new dictionary after adding : {'item1': 100, 'item2': ['captain', 'iron', 'hulk'], 'item3': {'avenger1': 'Thor', 'avenger2': 'Wanda', 'avenger3': 'Romanoff'}}

In [1]:
#tuples are similar to list except tuples are immutable. They use () instead of []
my_tuple = ('one',2,3.2,'a','a')
print("item at first index : {}".format(my_tuple[0]))
print("letter 'a' occurence times : {}".format(my_tuple.count('a')))
print("This gives the first occurance of given element : {}".format(my_tuple.index('a')))

item at first index : one
letter 'a' occurence times : 2
This gives the first occurance of given element : 3

In [5]:
#sets are unordered collection of unique elements.
my_set = {1,2,3}
print("direct set assigning  : {}".format(my_set))
my_set2 = set()
my_set2.add('a')
my_set2.add('a')
print("set doesn't allow duplicates : {}".format(my_set2))
list1 = [1,1,1,1,2,2,2,3,3,3,3]
my_set3 = set(list1)
print("type casting a list of duplicate values to set takes only unique values : {}".format(my_set3))

direct set assigning  : {1, 2, 3}
set doesn't allow duplicates : {'a'}
type casting a list of duplicate values to set takes only unique values : {1, 2, 3}

In [8]:
print(1 == 1)
type(False)

True

bool

In [14]:
%%writefile myfile.txt
hhgfffj
jhffjhjg

Overwriting myfile.txt

In [17]:
openmyfile = open('myfile.txt')
openmyfile.read()

'hhgfffj\njhffjhjg\n'

In [16]:
pwd

'C:\\Users\\harsh\\PythonPractice\\Practice'

In [18]:
#calling again read will give empty string as the cursor reaches end when we read first time. so set cursor position 
#to starting if you want to read again
openmyfile.seek(0)
openmyfile.read()

'hhgfffj\njhffjhjg\n'

In [19]:
openmyfile.seek(0)
#get list
openmyfile.readlines()

['hhgfffj\n', 'jhffjhjg\n']

In [23]:
difflocationfile = open("D:\\testpython.txt")
difflocationfile.close()

In [24]:
#no need to close file if we use below
with open('myfile.txt') as newVar:
    contents = newVar.read()

In [25]:
contents

'hhgfffj\njhffjhjg\n'

In [28]:
#file permissions. modes - read, write, append
with open('writefile.txt',mode='w') as f:
    f.write('This is a created file line1')

In [30]:
with open('writefile.txt',mode='r') as f:
    print(f.read())

This is a created file line1

In [31]:
with open('writefile.txt',mode='a') as f:
    f.write('\nThis is appended line')

In [32]:
with open('writefile.txt',mode='r') as f:
    print(f.read())

This is a created file line1
This is appended line

In [5]:
#comparision operators
print(2 == 2)
print('2' == 2)
print('bye' == 'bye')
print('Hello' == 'hello')
print(2.0 == 2)
# logical operators - and or not
print(2 == 2 and 4 == 3)
print(2 == 2 or 4 == 3)
print(not 2 == 2)

True
False
True
False
True
False
True
False

In [1]:
#statements
name = 'Bucky'
if name == 'Bucky':
    print("Winter Soilder")
    print("Bad avenger")
elif name == 'Hulk':
    print('Green avenger')
else:
    print("Captain Marvel")

Winter Soilder
Bad avenger

In [14]:
# for loop
numlist = [1,2,3,4,5,6,7,8,9,10]
#even numbers
for i in numlist:
    if i % 2 == 0:
        print(f'Even number : {i}')
    else:
        print("Odd number")

# sum of numbers
sumtot = 0
for i in numlist:
    sumtot = sumtot + i
print("Total sum : {r}".format(r=sumtot))

# for loop with string
greet = 'hello'
for i in greet:
    print(i)
    
# tuples
tup = (1,2,3)
for i in tup:
    print("tuple : {}".format(i))
    
# tuple unpacking method
tuplelist = [(1,2),(3,4),(5,6)]
for i in tuplelist:
    print("tuple list : {}".format(i))
for (a,b) in tuplelist:
    print("extracted a single item of a tuple with tuple unpacking method: {}".format(a))
    
# dictionaries
dict = {'k1':1, 'k2':2,'k3':3}
for i in dict:
    print("By default iterates only keys : {}".format(i))
for i in dict.items():
    print("prints key-value pairs : {}".format(i))
for i,j in dict.items():
    print("using tuple unpacking : {}".format(i))
for i in dict.values():
    print("printing values : {}".format(i))

Odd number
Even number : 2
Odd number
Even number : 4
Odd number
Even number : 6
Odd number
Even number : 8
Odd number
Even number : 10
Total sum : 55
h
e
l
l
o
tuple : 1
tuple : 2
tuple : 3
tuple list : (1, 2)
tuple list : (3, 4)
tuple list : (5, 6)
extracted a single item of a tuple with tuple unpacking method: 1
extracted a single item of a tuple with tuple unpacking method: 3
extracted a single item of a tuple with tuple unpacking method: 5
By default iterates only keys : k1
By default iterates only keys : k2
By default iterates only keys : k3
prints key-value pairs : ('k1', 1)
prints key-value pairs : ('k2', 2)
prints key-value pairs : ('k3', 3)
using tuple unpacking : k1
using tuple unpacking : k2
using tuple unpacking : k3
printing values : 1
printing values : 2
printing values : 3

In [2]:
# while loop, keywords - break, continue, pass
# pass don't do anything
x = 0
while x < 5:
    print(x)
    x = x + 1
else:
     print("While loop ends")
    
while x<5:
    #comment
    pass
print("used pass to avoid EOF error")

test = [1,2,3,4,5]
for i in test:
    if i==2:
        continue
    elif i==4:
        break
    else:
        print(i)

0
1
2
3
4
While loop ends
used pass to avoid EOF error
1
3

In [4]:
#useful operators
#1) range - functions just like string slicing functionality
for i in range(0,5):
    print(i)
# we can also give step size
print("step size...")
for i in range(0,10,2):
    print(i)
# casting range to list
print("casting to list...{}".format(list(range(0,11,2))))
# 2) indexing using enumerate
word = 'hello'
for item in enumerate(word):
    print(item)
for item,value in enumerate(word):
    print("letter at index {} is {}".format(item,value))
# 3) zip - mapping two lists and pairing them as tuples
list1 = [1,2,3]
list2 = ['a','b','c','d']
list3 = [200,400,800]
for i in zip(list1,list2,list3):
    print("zipped tuples....{}".format(i))
# to return as list again, cast it to list
print(list(zip(list1,list2,list3)))
# 4) in keyword - to check if an object is in given list
print('i' in ['a','e','i','o','u'])
d = {'key1' : 345,'key2':789}
print('key3' in d)
print(345 in d.values())
# 5) min, max
print("minimum....{}".format(min([10,20,30])))
print("maximum...{}".format(max([10,20,30])))
# 6) some functions from random library
# shuffle return nothing
from random import shuffle
random_list = [1,2,3,4,5]
shuffle(random_list)
print("randomly shuffled list....{}".format(random_list))
# randint return integer
from random import randint
print("random integer...{}".format(randint(0,100)))
# 7) grab input from user
result = input('What is your name ?')
print(result)
stringresult = input('Favourite number : ')
type(stringresult)

0
1
2
3
4
step size...
0
2
4
6
8
casting to list...[0, 2, 4, 6, 8, 10]
(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
letter at index 0 is h
letter at index 1 is e
letter at index 2 is l
letter at index 3 is l
letter at index 4 is o
zipped tuples....(1, 'a', 200)
zipped tuples....(2, 'b', 400)
zipped tuples....(3, 'c', 800)
[(1, 'a', 200), (2, 'b', 400), (3, 'c', 800)]
True
False
True
minimum....10
maximum...30
randomly shuffled list....[1, 5, 3, 4, 2]
random integer...0
What is your name ?hgjhk
hgjhk
Favourite number : 38

str

In [14]:
# list comprehensions - used insted of for loop and appending items to list
listdummy = []
for letter in 'word':
    listdummy.append(letter)
print(listdummy)
# not recommended because readibility will be lost
word = 'hello'
wordlist = [letter for letter in  word]
print(wordlist)
squarelist = [l**2 for l in range(0,5)]
print(squarelist)
# adding if condition
iflist = [l for l in range(0,11) if l%2==0]
print(iflist)
celcius = [10,20,30.5]
faren = [((9/5)*temp + 32) for temp in celcius]
print(faren)
#if else - order is reversed 
elselist = [x if x%2==0 else 'ODD' for x in range(0,11)]
print(elselist)
# nested for loops
nested = [x*y for x in [2,4,6] for y in [1,10,100]]
print(nested)

['w', 'o', 'r', 'd']
['h', 'e', 'l', 'l', 'o']
[0, 1, 4, 9, 16]
[0, 2, 4, 6, 8, 10]
[50.0, 68.0, 86.9]
[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]
[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [19]:
# print 1-100, multiples of 3 - fizz, 5-buzz, 3&5 - fizzbuzz
randomList = range(1,100)
for i in randomList:
    if(i%3==0 and i%5==0):
        print("fizzbuzz")
    elif(i%5==0):
        print("buzz")
    elif(i%3==0):
        print("fizz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz

In [9]:
#functions - use snake casing as naming convention

def first_function():
    print("Hello")
def param_function_return(num):
    return num*num
def default_param(name = 'default name'):
    print(name)

first_function()
result = param_function_return(5)
print("square of a number : {}".format(result))
default_param()

Hello
square of a number : 25
default name

In [13]:
# functions with logics
def even_nums(number=5):
    for i in range(1,number):
        if(i%2 == 0):
            print("even number : {}".format(i))
        else:
            print("Odd number : {}".format(i))
even_nums(10)

def evens_list(listinput):
    resultlist = []
    for i in listinput:
        if(i%2 == 0):
            resultlist.append(i)
        else:
            print("Odd number : {}".format(i))
    return resultlist
evens_list([1,3,6,9,4])

Odd number : 1
even number : 2
Odd number : 3
even number : 4
Odd number : 5
even number : 6
Odd number : 7
even number : 8
Odd number : 9
Odd number : 1
Odd number : 3
Odd number : 9

[6, 4]

In [3]:
# tuple unpacking in function
def getMaxStocks():
    stocks = [('app',2000),('goog',4000),('amazon',1000)]
    maxprice = 0
    stockname = ''
    for (name,price) in stocks:
        if price > maxprice:
            maxprice = price
            stockname = name
        else:
            pass
    
    return (stockname,maxprice)


getMaxStocks()

('goog', 4000)

In [14]:
from random import shuffle
def randomlist():
    numlist = ['','o','']
    shuffle(numlist)
    return numlist

result = randomlist()
print(result)

['o', '', '']

In [36]:
def getInput():
    setInput = 3
    while setInput not in ['0','1','2']:
        setInput = input('Enter guess')
    else:
        print("Not valid")
        
    return int(setInput)

In [43]:
def guess_check(numlist,guess):
    print(guess)
    if(numlist[guess] == 'o'):
        print('correct')
    else:
        print('incorrect')

In [44]:
result = randomlist()
guessinput = getInput()
guess_check(result,guessinput)

Enter guess1
Not valid
1
correct

In [6]:
# *args - used to pass arguments dynamically to a function in the form of tuples
# **kwargs - used to pass dynamic keyword arguments i.e, dictionary

def testdynamicargs(*args):
    print(args)
    print(sum(args))

def testdynamickwargs(**kwargs):
    print(kwargs)
    if(kwargs['fruit']== 'apple'):
        print('I like {}'.format(kwargs['fruit']))
    else:
        pass
    
def testdynamic(*args,**kwargs):
    print('I have {} {} in my basket'.format(args[0],kwargs['food']))

In [7]:
testdynamicargs(10,20,30)
testdynamickwargs(fruit='apple',food='beacon',play='cricket',animal='cat')
testdynamic(20,fruit='apple',food='beacon',play='cricket')

(10, 20, 30)
60
{'fruit': 'apple', 'food': 'beacon', 'play': 'cricket', 'animal': 'cat'}
I like apple
I have 20 beacon in my basket

In [60]:
def myfunc(word):
    result = ""
    for i in range(0, len(word)):
        if(i == 0):
            result = result + word[i].lower()
        elif(i%2==0):
            result = result + word[i].upper()
        else:
            result = result + word[i].lower()
    print(result)

In [61]:
myfunc('Anthropomorphism')

anThRoPoMoRpHiSm

In [72]:
def reverseword(testword):
    splitword = testword.split()
    print(splitword[::-1])
    result = " ".join(splitword[::-1])
    
    return result
reverseword("I am here bro")

['bro', 'here', 'am', 'I']

'bro here am I'

In [122]:
def spy_game(numlist):
    for i in range(0,len(numlist)):
        #print(i)
        if(numlist[i] == 0):
            i +=1
            #print(i)
            if(numlist[i]==0):
                i+=1
                #print(i)
                if(numlist[i]==7):
                    return True

In [121]:
spy_game([1,2,4,0,0,6,5,0,0,7])

False

In [149]:
# map - performs given function on given list 
def square(num):
    return num**2

print(list(map(square,[1,2,3,4,5])))

# filter - filters the given list based on condition in function
def filterfunc(num):
    if(num%2==0):
        return num
    
print(list(filter(filterfunc,[1,2,3,4,5,6])))

# lambda expression - used to write a function in single line. Also called as anonymus fucntion
squarelambda = lambda num : num **2
squarelambda(6)  
print(list(map(lambda num:num**3,[1,2,3,4,5])))
result = lambda x,y:x+y
print(result(5,4))

[1, 4, 9, 16, 25]
[2, 4, 6]
[1, 8, 27, 64, 125]
9

In [3]:
# Classes
class Person():
    
    #class object attribute which is same for all class instances. Ex : pi value of a cirle
    species = 'mammal'
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def functionalities(self):
        list1 = ['speak','walk','run','cook']
        return list1

In [4]:
my_person = Person(name = 'Sandy',age=22)
print("Name : {}".format(my_person.name))
print("Age : {}".format(my_person.age))
# class object attributes can be accessed either with class name or with self 
print("Species : {}".format(Person.species))
print("Functionalities : {}".format(my_person.functionalities()))

Name : Sandy
Age : 22
Species : mammal
Functionalities : ['speak', 'walk', 'run', 'cook']

In [12]:
# Inheritance
class Teacher(Person):
    
    def __init__(self,name,age,qualified):
        Person.__init__(self,name,age)
        self.qualified = qualified
        print("child class attribute : {}".format(self.qualified))
        
    def subfunctionality(self):
        return "can teach"
    
    def getPlace(self):
        return "California"

In [13]:
teacher = Teacher(name='hrushi kothi',age = 72,qualified=True)
print("teacher functionality : {0} {1}".format(teacher.name,teacher.subfunctionality()))
print("person-teacher functionalities : {}".format(teacher.functionalities()))
print("Working place : {}".format(teacher.getPlace()))

child class attribute : True
teacher functionality : hrushi kothi can teach
person-teacher functionalities : ['speak', 'walk', 'run', 'cook']
Working place : California

In [38]:
# polymorphism examples
class Animal():
    def __init__(self,name):
        self.name = name
    def speak(self):
        return("I am an animal : {}".format(self.name))
        
    #abstract method
    def speciality(self):
        raise NotImplementedError("Child class should override this method!!")

class Dog(Animal):
    
    def __init__(self,name):
        Animal.__init__(self,name)
        
    def speak(self):
        return("I am a dog! : {}".format(self.name))
    
    # method override
    def speciality(self):
        return "Expert in catching thevies!!!"
        
class Cat(Animal):
     def __init__(self,name):
        Animal.__init__(self,name)
    
     def speak(self):
        return("I am a cat! : {}".format(self.name))
    #method override
     def speciality(self):
        return "Expert in catching mice!!"

pluto = Dog("pluto")
tom = Cat("tom")

# 1) loop
for pet in (pluto,tom):
    print("For loop : {}".format(pet.speak()))
    
#2) common function
def commonfunc(pet):
    pet.speak()

print(pluto.speak())
print(tom.speak())

#3) abstract method
print(pluto.speciality())
print(tom.speciality())

For loop : I am a dog! : pluto
For loop : I am a cat! : tom
I am a dog! : pluto
I am a cat! : tom
Expert in catching thevies!!!
Expert in catching mice!!

In [44]:
# special functions -  to have our own builtin functions for our own classes

class Book():
    def __init__(self,name,author,pages):
        self.name = name
        self.author = author
        self.pages = pages
    
    def __str__(self):
        return f"{self.name} written by {self.author} contains {self.pages}"
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        return("A book object has been deleted from memory")

Fairy Tales written by Me contains 200

200

In [50]:
b = Book('Fairy Tales','Me',200)
print(b)
len(b)

Fairy Tales written by Me contains 200

200

In [52]:
del b

NameError: name 'b' is not defined

In [49]:
print(b)

NameError: name 'b' is not defined

In [54]:
# exception handling
try:
    f = open('writefile.txt','r')
    f.write('raising an exception here')
except: 
    print('Attempting to write a file in read mode is not accepted!!')
finally:
    print('I always execute irrespective of exception!!')

Attempting to write a file in read mode is not accepted!!
I always execute irrespective of exception!!

In [62]:
try:
    print('just test this try block!!')
    n1 = "hello"
    n2 = input('enter input : ')
    numresult = n1 + n2
    
    n3 = input('enter number to be divided ')
    res = int(n3)/0
except ZeroDivisionError:
    print('Divide by zero is illegal!!')
except:
    print('some exception is caught!!')
else:
    print('else block is executed if error didnt occur')

just test this try block!!
enter input : ghgk
enter number to be divided9
Divide by zero is illegal!!

In [14]:
# Decorators
# When in a function if we need extra functionality we can mark it as a decorator with '@any_name' syntax
# These decorators are generally used with functions which takes another function as param and returns another function.


# Generator
# These will generate some result without actually storing in the memory. These are memory efficient when we actually dont want
# to store them. This can be achieved with 'yield' keyword.
def yield_demo(n):
    for i in range(n):
        yield i**3

list(yield_demo(5))

# Ex : range, next, iter
# NOTE : strings cannot be iterated i.e, next(some_string) will not work. We have to make it as generator first. For this we can
# use iter()

[0, 1, 8, 27, 64]

In [15]:
stringsome = 'hello'
s_iter = iter(stringsome)
next(s_iter)

'h'

In [21]:
# collections module
# 1) Counter
from collections import Counter
my_list = [1,1,1,1,2,2,2,2,3,3,3,3,3,3,3,3]
print(Counter(my_list))
s = 'hellllloo woelrlllldddd'
c = Counter(s)
print(c)
print(c.most_common(2))

Counter({3: 8, 1: 4, 2: 4})
Counter({'l': 10, 'd': 4, 'o': 3, 'e': 2, 'h': 1, ' ': 1, 'w': 1, 'r': 1})
[('l', 10), ('d', 4)]

In [22]:
# 2) defaultdict
# these are useful to assign a default value to a key which is not in the dictionary. Normal dictionaries would raise error if
# a value is accessed for unknown key
from collections import defaultdict
d = defaultdict(lambda : 'default value')
d['food'] = 'cake'
print(d['food'])
print(d['fruit'])

cake
default value

In [24]:
# 3) namedtuple
# these are used when we don't actually know which value is at which index in a tuple
from collections import namedtuple
t = namedtuple('somename',['age','name','breed'])
my_tup = t(age=18,name='sam',breed='husky')
print(my_tup.age)
print(my_tup[1])

18
sam

In [6]:
# CSV files
import csv
open_csv = open('sample.csv',encoding='utf-8')
data = csv.reader(open_csv)
list_data = list(data)
print(list_data)

[['name', 'age', 'language'], ['cassie', '24', 'french'], ['johny', '23', 'eng'], ['damon', '32', 'spanish']]

In [32]:
# get list of all laguages from csv file
print(list_data[3])
languages = []
for line in list_data[1:]:
    languages.append(line[3])
    
print(languages)

['3', "'damon'", '32', "'spanish'"]
["'french'", "'eng'", "'spanish'"]

In [33]:
# write to a csv file
write_file = open('writefile.csv',mode='w',newline='')
csv_data_write = csv.writer(write_file,delimiter=',')
# write a single row
csv_data_write.writerow(['id','city','temperature'])
# write multiple rows
csv_data_write.writerows([[1,'san jose',58.4],[2,'san mateos',57.2],[3,'milpitas',48.9]])

In [35]:
open_csv.close()

In [38]:
with open('sample.csv') as f:
    print(f.readlines())

['id,name,age,language\n', "1,'cassie',24,'french'\n", "2,'johny',23,'eng'\n", "3,'damon',32,'spanish'"]

In [1]:
# pandas library is used to work with datasets
# functionalities - used to analyze, clean, explore and manipulate data
import pandas as pd
my_dataset = {
    'name' : ['hary','jane','shane'],
    'marks' : [78,93,67]
}
# DataFrame is a 2d data structure (generally seems like table) where as series is a single dimensional array 
result = pd.DataFrame(my_dataset)
result

    name  marks
0   hary     78
1   jane     93
2  shane     67

In [54]:
# pandas use the loc attribute to return one or more specified row(s)

# this return panda series
print(result.loc[0])

# this returns panda dataframe
print(result.loc[[0,1]])

# Note : we can also create and access labels for dataframe just like series using 'index'

name     hary
marks      78
Name: 0, dtype: object
   name  marks
0  hary     78
1  jane     93

In [2]:
# loading data from csv file 
csv_data = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/country_data/United%20States.csv')
# prints only first 5 rows
# csv_data
# to print all dataframe rows use
#print(csv_data.to_string())
# #load to a dataframe
csv_df = pd.DataFrame(csv_data)
csv_df

,location,date,vaccine,source_url,total_vaccinations,people_vaccinated,people_fully_vaccinated
0,United States,2020-12-20,Pfizer/BioNTech,https://www.cdc.gov/coronavirus/2019-ncov/vacc...,556208,556208.0,NaN
1,United States,2020-12-21,Pfizer/BioNTech,https://covid.cdc.gov/covid-data-tracker/#vacc...,614117,614117.0,NaN
2,United States,2020-12-23,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,1008025,1008025.0,NaN
3,United States,2020-12-26,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,1944585,1944585.0,NaN
4,United States,2020-12-28,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,2127143,2127143.0,NaN
5,United States,2020-12-30,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,2794588,2794588.0,NaN
6,United States,2021-01-02,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,4225756,4225756.0,NaN
7,United States,2021-01-04,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,4563260,4563260.0,NaN
8,United States,2021-01-05,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,4836469,4836469.0,NaN
9,United States,2021-01-06,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,5306797,5306797.0,NaN
10,United States,2021-01-07,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,5919418,5919418.0,NaN
11,United States,2021-01-08,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,6688231,6688231.0,NaN
12,United States,2021-01-11,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,8987322,8987322.0,NaN
13,United States,2021-01-12,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,9327138,9327138.0,NaN
14,United States,2021-01-13,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,10278462,NaN,NaN
15,United States,2021-01-14,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,11148991,9690757.0,1342086.0
16,United States,2021-01-15,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,12279180,10595866.0,1610524.0
17,United States,2021-01-19,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,15707588,13595803.0,2023124.0
18,United States,2021-01-20,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,16525281,14270441.0,2161419.0
19,United States,2021-01-21,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,17546374,15053257.0,2394961.0
20,United States,2021-01-22,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,19107959,16243093.0,2756953.0
21,United States,2021-01-23,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,20537990,17390345.0,3027865.0
22,United States,2021-01-24,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,21848655,18502131.0,3216836.0
23,United States,2021-01-25,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,22734243,19252279.0,3346390.0
24,United States,2021-01-26,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,23540994,19902237.0,3481921.0
25,United States,2021-01-27,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,24652634,20687970.0,3801053.0
26,United States,2021-01-28,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,26193682,21698606.0,4263056.0
27,United States,2021-01-29,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,27884661,22858318.0,4780888.0
28,United States,2021-01-30,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,29577902,24064165.0,5259693.0
29,United States,2021-01-31,"Moderna, Pfizer/BioNTech",https://covid.cdc.gov/covid-data-tracker/#vacc...,31123299,25201143.0,5657142.0

In [75]:
# read json data and load into dataframe
import json 
data = json.load(open('BostonCrimeCSV.json'))
json_data_frame = pd.DataFrame(data["cells"])
print(json_data_frame.to_string())

   cell_type metadata                                                                           source  execution_count outputs
0   markdown       {}                   [## Boston Dataset \n, ### Load the dataset from a local file]              NaN     NaN
1       code       {}                                                            [import pandas as pd]              NaN      []
2       code       {}  [boston = pd.read_csv('crimes-in-boston/crime.csv', encoding='unicode_escape')]              NaN      []
3   markdown       {}                                                      [### View some of the rows]              NaN     NaN
4       code       {}                                                                  [boston.head()]              NaN      []
5       code       {}                                                                  [boston.tail()]              NaN      []
6   markdown       {}                                                        [## Simple data analysis]              NaN     NaN
7       code       {}                                                              [boston.describe()]              NaN      []
8       code       {}                                    [(boston.DAY_OF_WEEK == 'Sunday').describe()]              NaN      []
9   markdown       {}                                                              [## Histogram\n,  ]              NaN     NaN
10      code       {}                                                             [%matplotlib inline]              NaN      []
11      code       {}                                                [histogram = boston.hist('HOUR')]              NaN      []
12      code       {}                                               [histogram = boston.hist('MONTH')]              NaN      []
13      code       {}                                                                               []              NaN      []

In [76]:
json_data_frame

,cell_type,metadata,source,execution_count,outputs
0,markdown,{},"[## Boston Dataset \n, ### Load the dataset fr...",NaN,NaN
1,code,{},[import pandas as pd],NaN,[]
2,code,{},[boston = pd.read_csv('crimes-in-boston/crime....,NaN,[]
3,markdown,{},[### View some of the rows],NaN,NaN
4,code,{},[boston.head()],NaN,[]
5,code,{},[boston.tail()],NaN,[]
6,markdown,{},[## Simple data analysis],NaN,NaN
7,code,{},[boston.describe()],NaN,[]
8,code,{},[(boston.DAY_OF_WEEK == 'Sunday').describe()],NaN,[]
9,markdown,{},"[## Histogram\n, ]",NaN,NaN
10,code,{},[%matplotlib inline],NaN,[]
11,code,{},[histogram = boston.hist('HOUR')],NaN,[]
12,code,{},[histogram = boston.hist('MONTH')],NaN,[]
13,code,{},[],NaN,[]

In [45]:
print(pd.__version__)

1.1.3

In [47]:
# Series
fib = [1,2,3,5,8,13,21]
panda_arr = pd.Series(fib)
panda_arr

0     1
1     2
2     3
3     5
4     8
5    13
6    21
dtype: int64

In [50]:
# by default, the values are labeled with indexes. we can also create our own labels for both series and dataframe
panda_ser_labels = pd.Series(fib,index=['a','b','c','d','e','f','g'])
print(panda_ser_labels)
print(panda_ser_labels['e'])

a     1
b     2
c     3
d     5
e     8
f    13
g    21
dtype: int64
8

In [52]:
# we can also pass a dictionary to a series. In such case, keys becomes the labels
dict_val = {'hyd' : 56,'del' : 78,'chennai' : 34}
series_dict = pd.Series(dict_val)
series_dict

hyd        56
del        78
chennai    34
dtype: int64

In [2]:
n_rows= int(input("Number of rows:"))

n_cols = int(input("Number of columns:"))

#Define the matrix

matrix = [ ]

print("Enter the entries row-wise:")

#for user input

for i in range(n_rows):          # A for loop for row entries

    a =[ ]

    for j in range(n_cols):      # A for loop for column entries

         a.append(int(input()))

    matrix.append(a)

  

#To print the matrix

for i in range(n_rows):

    for j in range(n_cols):

        print(matrix[i][j], end = " ")

    print( )

Number of rows:2
Number of columns:3
Enter the entries row-wise:
1
2
3
4
5
6
1 2 3
4 5 6

In [2]:
a = ('stas',)
print(type(a))

<class 'tuple'>

In [5]:
a = (1,2,3)
b = [4,5,6]
#a+=b
b+=a
b

[4, 5, 6, 1, 2, 3]

In [10]:
numbers = [3,5,7,8,3,6,9,2,5,8]

SyntaxError: invalid syntax (<ipython-input-10-0c66ff8d6329>, line 2)